/* Breadcrumb */
.breadcrumb {
    padding: 1rem;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.breadcrumb li {
    display: inline;
}

.breadcrumb a {
    text-decoration: none;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.breadcrumb li+li:before{
    padding: 8px;
    color: black;
    content: ">";
}

#horror-books {
    font-weight: 600;
}

/* Images */
.large-image {
    display: inline-block;
    padding: 5rem;
    padding-left: 20rem;
}

.large-image img {
    width: 30rem;
}

.small-images {
    display: inline-block;
}

.small-images img {
    padding: 35px 0;
    width: 7rem;
}

.small-images ul {
    list-style-type: none;
}

/* Pricing and Order */
.book-price ul li {
    display: inline;
    /* float: right; */
    padding-bottom: 10px;
}

.book-price ul {
    list-style-type: none;
}

.book-price h2 {
    top: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
}

#cart-pic {
    height: 10rem;
}

#cart-link {
    text-align: center;
    display:flex;
    justify-content: center;
}

#dracula {
    width: 40%;
    padding-left: 5rem;
    text-align: left;
    display:flex;
    justify-content: left;
}

.book-description p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    padding-left: 5rem;
    margin-top: 2rem;
    margin-bottom: 10rem;
    width: 40%;
    text-align: left;
    display:flex;
    justify-content: center;
}

@media screen and (max-width: 960px) {
    main {
      display: flex;          
    }
    .large-image {
      width: 50%;
    }
    .small-images ul li {
        display: inline;
        margin: 50px;
        /* width: 50%; */
    }
    .small-images li {
        text-align: center;
    }
}

