/* Category */
h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: 4rem;
}

h2 a {
    font-size: larger;
    text-decoration: none;
    color: black;
}

h3 {
    margin-top: 2rem;
    font-family: 'Playfair Display', serif;
}

h3 a {
    font-size: large;
    text-decoration: none;
    color: black;
}

h3 a:hover {
    text-decoration: underline;
}

.book-link {
    margin-top: 1rem;
    margin-left: 8rem;
    margin-right: 8rem;
    margin-bottom: 3rem;
    height: 450px;
    text-decoration: none;
}

.book-link:hover {
    transform: scale(1.1);
}

.book-list {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.book-list li {
    border: 0.5px solid lightgrey;
    float: left;
}

.books-container {
    text-align: center;
    margin-bottom: 10rem;
}

.other-categories {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 5rem;
}

.other-categories a {
    text-decoration: none;
    color:black;
}

.other-categories a:hover {
    color: #e31b1c;
}


